name: ci
on:
  push:
    tags:
      - v*
    branches:
      - main
      - release-*
  pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.24.x, 1.25.x]
        race: ["-race", ""]

    steps:

    - name: checkout
      uses: actions/checkout@v5

    - name: install go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        stable: '!contains(${{ matrix.go-version }}, "beta") && !contains(${{ matrix.go-version }}, "rc")'
        go-version: ${{ matrix.go-version }}

    - name: install bats
      run: sudo apt-get update && sudo apt-get install bats

    - name: build
      run: make build EXTRA_BUILD_FLAGS="${{ matrix.race }}"

    - name: unit tests
      run: make test-unit EXTRA_TEST_FLAGS="${{ matrix.race }}"

    - name: integration tests
      run: make test-integration
